.header {
    /* background-color: cyan; */
    height: 45px;
    display: flex;
    font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
      Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
      segoe ui emoji, segoe ui symbol;
    font-weight: 400;
    padding: 5px;
  }
  
  .headPhoto {
    height: 40px;
    width: 40px;
  }
  .ud {
      width: 120px;
  }
  
  .boxHd {
      margin-right: 15px;
      margin-left: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 80;
  }
  
  .sq {
      border: 2px solid black;
      height: 35px;
  }
  .log {
    font-weight: bold;
    border: 2px solid black;
    height: 35px;
    width: 100px;
  }
  
  .search {
    width: 400px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 0.5px dashed black;
  }

  #clock{
    margin-left: 50px;
    height: 390px;
  }