body {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #1c1d1f;
}

button:hover {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

/* header */
.header-btn {
  min-height: 40px;
  min-width: 40px;
  padding: 10px;
  margin: 0 8px 0 8px;
  border: none;
  background-color: white;
  font-weight: bolder;
}

.search-bar {
  height: 35px;
  max-width: 400px;
  width: 55%;
}

.sidebar {
  width: 100%;
  height: 400px;
}

.img-side {
  width: 98%;
}

.sidebar-top {
  cursor: pointer;
  display: block;
  font-size: 20px;
  /* position: relative; */
  left: 100px;
  top: 150px;
  position: absolute;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 400px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .teach,
  .eng {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .bus {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
  }
}

@media screen and (max-width: 900px) {
  .cg {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
    width: 300px;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .bt1 {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
    width: 200px;
    font-size: 10px;
  }
  .ud {
    width: 60%;
  }
  .ct,
  .sr {
    width: 10%;
  }
}

/* courses section */
.courses {
  box-sizing: border-box;
  /* background-color: cyan; */
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  height: 620px;
  width: 1350px;
  margin: auto;
}

.board-h2 {
  margin: -5px 5px 10px 15px;
}

.choose {
  margin: -5px 5px 10px 15px;
  padding-left: 5px;
  font-size: medium;
}

.courses-button {
  left: 3px;
  padding: 8px;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  font-size: medium;
  width: fit-content;
  margin: 0px 0px 0px 8px;
}

.inner-courses {
  width: 1300px;
  height: 450px;
  padding-left: 10px;
  border: 2px rgb(236, 235, 235) solid;
  /* background-color: yellow; */
  margin: auto;
}

.inner-courses p {
  padding-left: 15px;
  width: 60%;
  font-size: 15px;
}

.inner-courses h4 {
  padding-left: 15px;
  margin-bottom: -10px;
}

.py {
  display: block;
  left: 5px;
  border: 1px solid black;
}

.course-card {
  padding: 10px;
  display: inline-block;
  width: 210px;
  height: 240px;
  /* background-color: pink; */
  margin-right: 8px;
  margin-top: 5px;
}

.img-course-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 130px;
}

.course-inst {
  font-size: 10px;
  color: gray;
}

.course-name,
.course-price {
  font-size: 13px;
  font-weight: bold;
}

.course-inst,
.course-name {
  display: block;
  padding: 5px;
}

.course-sale {
  text-decoration: line-through;
  font-size: 15px;
  font-weight: light;
  color: gray;
}

.inner-courses a {
  color: black;
  text-decoration: none;
}

.cc5 {
  width: 230px;
}

.mid-bar {
  /* background-color: cyan; */
  width: 1200px;
  margin: auto;
  /* display: flex; */
}

.mid-bar p {
  display: inline-block;
  border: #1c1d1f;
  /* background-color: yellow; */
  width: 300px;
  height: 20px;
  margin: 15px 60px 15px 15px;
  font-size: medium;
  font-weight: bold;
}

.viewing {
  margin-top: 10px;
  padding: 15px;
}

.viewing p,
.catg p {
  font-weight: bold;
  font-size: 20px;
  /* margin: 10px 0 0 0 ; */
}

.viewing a {
  text-decoration: none;
  color: black;
}

.catg {
  flex: wrap;
  width: 1300px;
  height: 750px;
  padding: 10px;
}

.catg-img {
  width: 300px;
  height: 300px;
}
.catg div {
  display: inline-block;
  margin: 10px;
}

.head-title {
  font-weight: bold;
  font-size: 22px;
  margin-left: 12px;
  width: 1300px;
  background-color: rgb(247, 251, 255);
  height: 50px;
  margin-bottom: 0;
  padding-top: 5px;
}
.catg p {
  font-weight: bold;
  font-size: 15px;
}

.catg a {
  color: black;
  text-decoration: none;
}

.feat {
  width: 1300;
  height: 400px;
  padding: 10px;
  display: flex;
  flex: wrap;
  background-color: rgb(247, 251, 255);
}

.catg-list {
  display: inline-block;
  width: 300px;
  margin-left: 12px;
}

.catg-title {
  font-size: 18px;
  font-weight: bold;
}

.catg-course {
  font-weight: bold;
  font-size: 17px;
}

.catg-stud {
  color: gray;
  font-size: 16px;
}

.explore {
  width: 150px;
  height: 50px;
  font-weight: bold;
  background-color: aliceblue;
  border: 1px solid black;
  padding: 10px;
}

.explore:hover {
  cursor: pointer;
}

.down-bars {
  display: flex;
  margin: 10px;
  width: 1340px;
  height: 500px;
  /* background-color: cyan; */
}

.left-side,
.right-side {
  display: inline-block;
  margin: 10px 12px 12px 10px;
  /* background-color: yellow; */
  width: 630px;
  width: 630px;
  height: 480px;
}

.left-bar {
  float: right;
}
.right-bar {
  float: left;
}

.tp-content {
  display: block;
  width: 80%;
  font-size: 20px;
}

.tp-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: -20px;
}

.down-bars button,
.down-bars input {
  display: block;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: medium;
  padding: 10px;
}

.mid-bar1 {
  margin: auto;
  height: 80px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.mid-bar1 p {
  margin: auto;
}

.st button {
  right: 20px;
}

.st {
  padding-left: 160px;
  width: 470px;
}

footer {
  height: 320px;
  background-color: #1c1d1f;
}

.topFot {
  height: 250px;
}
.botFot {
  height: 70px;
}

.botFot img {
  width: 100px;
  height: 50px;
  margin-left: 30px;
}

.copyright{
  color:white;
  font-size: 12px;
}

.botleft,
.botright {
  display: inline-block;
  width: 48%;
}

.botright{
  text-align: right;
}

.top-sec{
  display: inline-block;
  width: 268px;
  height: 200px;
  /* background-color: green; */
  margin: 30px;
}

.topFot{
  display: flex;
}

.topFot a{
  color: white;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.top-btn-sec{
  
  padding-left: 200px;
  width: 150px;
}

.foot-btn{
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  height: 40px;
  background-color: #1c1d1f;
}