body {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #1c1d1f;
}

button:hover {
  cursor: pointer;
}

/* header */
.header-btn {
  min-height: 40px;
  min-width: 40px;
  padding: 10px;
  margin: 0 8px 0 8px;
  border: none;
  background-color: white;
  font-weight: bolder;
}

.search-bar {
  height: 35px;
  max-width: 400px;
  width: 55%;
}

.sidebar {
  width: 100%;
  height: 400px;
}

.img-side {
  width: 98%;
}

.sidebar-top {
  cursor: pointer;
  display: block;
  font-size: 20px;
  /* position: relative; */
  left: 100px;
  top: 150px;
  position: absolute;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 400px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .teach,
  .eng {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .bus {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
  }
}

@media screen and (max-width: 900px) {
  .cg {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
    width: 300px;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .bt1 {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
    width: 200px;
    font-size: 10px;
  }
  .ud {
    width: 60%;
  }
  .ct,
  .sr {
    width: 10%;
  }
}

/* courses section */
.courses {
  box-sizing: border-box;
  /* background-color: cyan; */
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  height: 620px;
  width: 1350px;
  margin: auto;
}

.board-h2 {
  margin: -5px 5px 10px 15px;
}

.choose {
  margin: -5px 5px 10px 15px;
  padding-left: 5px;
  font-size: medium;
}

.courses-button {
  left: 3px;
  padding: 8px;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  font-size: medium;
  width: fit-content;
  margin: 0px 0px 0px 8px;
}

.inner-courses {
  width: 1300px;
  height: 450px;
  padding-left: 10px;
  border: 2px rgb(236, 235, 235) solid;
  /* background-color: yellow; */
  margin: auto;
}

.inner-courses p {
  padding-left: 15px;
  width: 60%;
  font-size: 15px;
}

.inner-courses h4 {
  padding-left: 15px;
  margin-bottom: -10px;
}

.py {
  display: block;
  left: 5px;
  border: 1px solid black;
}

.course-card {
  padding: 10px;
  display: inline-block;
  width: 210px;
  height: 240px;
  /* background-color: pink; */
  margin-right: 8px;
  margin-top: 5px;
}

.img-course-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 130px;
}

.course-inst {
  font-size: 10px;
  color: gray;
}

.course-name,
.course-price {
  font-size: 13px;
  font-weight: bold;
}

.course-inst,
.course-name {
  display: block;
  padding: 5px;
}

.course-sale {
  text-decoration: line-through;
  font-size: 15px;
  font-weight: light;
  color: gray;
}

.inner-courses a {
  color: black;
  text-decoration: none;
}

.cc5 {
  width: 230px;
}

.mid-bar {
  /* background-color: cyan; */
  width: 1200px;
  margin: auto;
  /* display: flex; */
}

.mid-bar p {
  display: inline-block;
  border: #1c1d1f;
  /* background-color: yellow; */
  width: 300px;
  height: 20px;
  margin: 15px 60px 15px 15px;
  font-size: medium;
  font-weight: bold;
}

.viewing {
  margin-top: 10px;
  padding: 15px;
}

.viewing p,
.catg p {
  font-weight: bold;
  font-size: 20px;
  /* margin: 10px 0 0 0 ; */
}

.viewing a {
  text-decoration: none;
  color: black;
}

.catg {
  flex: wrap;
  width: 1300px;
  height: 650px;
  padding: 10px;
}

.catg-img {
  
  width: 300px;
  height: 300px;
}
.catg div{
  display: inline-block;
  margin: 10px;
}

.catg-head{
  font-weight: bold;
  font-size: 18px;
  margin-left: 12px;
}
.catg p {
  font-weight: bold;
  font-size: 15px;
}

.catg a {
  color: black;
  text-decoration: none;
}
