body {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #1c1d1f;
}

button:hover{
  cursor: pointer;
}

/* header */
.header-btn {
  min-height: 40px;
  min-width: 40px;
  padding: 10px;
  margin: 0 8px 0 8px;
  border: none;
  background-color: white;
  font-weight: bolder;
}

.search-bar {
  height: 35px;
  max-width: 400px;
  width: 55%;
}

.sidebar {
  width: 100%;
  height: 400px;
}

.img-side {
  width: 98%;
}

.sidebar-top {
  cursor: pointer;
  display: block;
  font-size: 20px;
  /* position: relative; */
  left: 50px;
  top: 150px;
  position: absolute;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 400px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .teach,
  .eng {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .bus {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
  }
}

@media screen and (max-width: 900px) {
  .cg {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
    width: 300px;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .bt1 {
    display: none;
  }
  .sidebar-top {
    top: 90px;
    left: 35px;
    width: 200px;
    font-size: 10px;
  }
  .ud {
    width: 60%;
  }
  .ct,
  .sr {
    width: 10%;
  }
}

/* courses section */
.courses{
  /* background-color: cyan; */
  height: 600px;
  width: 1300px;
  
}

.board-h2{
  padding-left: 5px;
  margin: 0;
}

.choose{
  margin-top: -5px 5px -5px 5px;
  padding-left: 5px;
  font-size: medium;
}

.courses-button{
  padding: 12px;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  font-size: medium;
}

