.new {
  height: 400px;
  margin: 5px;
}

#clock {
  margin-left: 50px;
  height: 390px;
}

.box12 {
  height: 300px;
  /* background-color: yellow; */
  margin: 5px;
}

.box13 {
  height: 50px;
  /* background-color: yellow; */
  margin: 5px;
}

.box14 {
  
  padding: 10px;
  border: 1px solid gray;
  height: 500px;
  /* background-color: yellow; */
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

#h14{
  height: 200px;
}
#boxClick{
  border: 1px solid black;
  font-weight: bold;
  width: 140px;
  padding: 10px;
}
.cont{
  display: flex;
  flex-wrap: wrap;
}

.test{
  height: 50px;
}

.test h2{
  padding: 5px;
}
.lineDiv{
  
  display: inline-block;
  width: 250px;
  height: 250px;
  /* background-color: cyan; */
  margin-top: -5px;
  margin-left: 5px;
  
}

.box15 {
  height: 100px;
  /* background-color: yellow; */
  margin: 5px;
}

.benefits{
    display: flex;
}

.inBen{
    width: 30%;
    height: 90%;
    margin-right: 15px;
    margin-left: 35px;
    margin-top: -5px;
    /* background-color: cyan; */
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: bold;
}

.selection p{
    margin-top: -10px;
    color: gray;
}

#list{
    word-spacing: 20px;
    color: black;
    margin-top: 5px;
    font-weight: 800;
}

.midImg{
  width: 98%;
  height: 80%;
}

.lineDiv p{
  margin-top: -2px;
  font-weight: bold;
  font-size: smaller;
}